// Use rules
@use "../../components/buttons/buttons";

// Import rules
@import "../../abstracts/mixins";
@import "../../abstracts/colors";
@import "../../abstracts/animations";

//scrollbar

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background: #000000;
    color: purple;
}



::-webkit-scrollbar-thumb {
    -webkit-border-radius: 6px;
    border-radius: 6px;
    background-color: #c3b4ce;
    border: none;
}

//end scrollbar

.ta-trade-anything {

    @include mq('laptop');
    @include flex(column);
    align-items: center;
    padding-top: 50px;
    width: 100%;
    background: black;


    .ta-wrapper {
        max-width: 1200px;
        height: 100%;
        @include flex(row, space-between, center);
        z-index: 2;


        .ta-contents-section {
            text-align: left;
            width: 50%;

            h2 {
                color: white;
                padding-top: 20px;
                font-size: 40px;
                font-weight: 600;
                line-height: 1.1;

                .ta-text-span {
                    color: #9A6AFF;
                }
            }

            h3 {
                color: #B8ADD2;
                font-size: 16px;
                font-weight: lighter;
                padding-top: 25px;
            }

            .ta-buttons-section {
                margin-top: 20px;
                display: flex;

                .ta-button-no-border {
                    border: none;
                }

                .button-aquagreen {
                    width: 170px;
                    margin-right: 10px;
                }

            }

            .link-aquagreen {
                text-decoration: none;
            }

        }

        .ta-img-section {
            position: relative;
            height: 100%;
            width: 50%;

            .ta-goldencoin {
                position: absolute;
                bottom: -160px;
                right: 0px;
                @include float-anim(5s, "NW");
                img {
                    width: 90%;
                }
            }

            .ta-bitcoin {
                position: absolute;
                bottom: -160px;
                right: 0px;
                @include float-anim(3s, "NW");
                img {
                    width: 90%;
                }
            }

            .ta-cakecoin {
                position: absolute;
                bottom: -160px;
                right: 0px;
                @include float-anim(4s, "NW");
                img {
                    width: 90%;
                }
            }

        }
    }

    // .fb-bottomgradient {

    //     position: relative;
    //     margin-bottom: 0;
    //     bottom: 180px;
    //     width: 100%;


    //     svg {
    //         z-index: 1;
    //     }

    // }

}