// Use rules
@use "../../components/buttons/buttons";

// Import rules
@import "../../abstracts/mixins";
@import "../../abstracts/colors";
@import "../../abstracts/animations";

//scrollbar

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background: #000000;
    color: purple;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 6px;
    border-radius: 6px;
    background-color: #c3b4ce;
    border: none;
}

//end scrollbar

.ta-trade-anything {
    @include flex(column);
    align-items: center;
    padding-top: 50px;
    width: 100%;
    background: black;
    padding-top: 120px;
    padding-bottom: 120px;

    .ta-wrapper {
        width: 50%;
        max-width: 1200px;
        height: 100%;
        @include flex(row, center);
        z-index: 2;

        .ta-contents-section {
            text-align: left;
            width: 55%;
            flex: 1 1 50%;
            max-width: 500px;

            h2 {
                color: white;
                padding-top: 20px;
                font-size: 40px;
                font-weight: 600;
                line-height: 1.1;

                .ta-text-span {
                    color: #9A6AFF;
                }
            }

            h3 {
                color: #B8ADD2;
                font-size: 16px;
                font-weight: lighter;
                padding-top: 25px;
            }

            .ta-buttons-section {
                margin-top: 20px;
                display: flex;

                .ta-button-no-border {
                    border: none;
                }

                .button-aquagreen {
                    width: 170px;
                    margin-right: 10px;
                }

            }

            .link-aquagreen {
                text-decoration: none;
            }

        }

        .ta-img-section {
            position: relative;
            height: 100%;
            width: 45%;
            flex: 1 1 50%;
            max-width: 380px;
            min-width: 300px;

            .ta-goldencoin {
                position: absolute;
                bottom: -160px;
                right: 0px;
                @include float-anim(5s, "NW");

                img {
                    width: 90%;
                }
            }

            .ta-bitcoin {
                position: absolute;
                bottom: -160px;
                right: 0px;
                @include float-anim(3s, "NW");

                img {
                    width: 90%;
                }
            }

            .ta-cakecoin {
                position: absolute;
                bottom: -160px;
                right: 0px;
                @include float-anim(4s, "NW");

                img {
                    width: 90%;
                }
            }
        }
    }

}

@include mq("laptop") {
    .ta-trade-anything {
        .ta-wrapper {
            @include flex(column-reverse, center);
            .ta-contents-section {
                width: 100%;
            }
            .ta-img-section {
                align-self: flex-end;
                right: 0;
                min-width: 10px;
                max-width: 150px;
                img {
                    padding-bottom: 130px;
                    width: 20px;
                }
            }
        }
    }
}

@include mq("tablet") {
    .ta-trade-anything {
        .ta-wrapper {
            @include flex(column-reverse, center);
            .ta-contents-section {
                width: 100%;
            }
            .ta-img-section {
                align-self: flex-end;
                right: 0;
                min-width: 10px;
                max-width: 150px;
                img {
                    padding-bottom: 130px;
                    width: 20px;
                }
            }
        }
    }
}

@include mq("tablet-small") {
    .ta-trade-anything {
        .ta-wrapper {
            @include flex(column-reverse, center);
            .ta-contents-section {
                width: 100%;
            }
            .ta-img-section {
                align-self: flex-end;
                right: 0;
                min-width: 10px;
                max-width: 150px;
                img {
                    padding-bottom: 130px;
                    width: 20px;
                }
            }
        }
    }
}

@include mq("phablet") {
    .ta-trade-anything {
        .ta-wrapper {
            @include flex(column-reverse, center);
            .ta-contents-section {
                width: 100%;
            }
            .ta-img-section {
                align-self: flex-end;
                right: 0;
                min-width: 10px;
                max-width: 150px;
                img {
                    padding-bottom: 130px;
                    width: 20px;
                }
            }
        }
    }
}

@include mq("phone-wide") {
    .ta-trade-anything {
        .ta-wrapper {
            @include flex(column-reverse, center);
            .ta-contents-section {
                width: 100%;
            }
            .ta-img-section {
                align-self: flex-end;
                right: 0;
                min-width: 10px;
                max-width: 150px;
                img {
                    padding-bottom: 130px;
                    width: 20px;
                }
            }
        }
    }
}

@include mq("phone") {
    .ta-trade-anything {
        .ta-wrapper {
            @include flex(column-reverse, center);
            .ta-contents-section {
                width: 100%;
            }
            .ta-img-section {
                align-self: flex-end;
                right: 0;
                min-width: 10px;
                max-width: 150px;
                img {
                    padding-bottom: 130px;
                    width: 20px;
                }
            }
        }
    }
}