

// Use rules
@use "../../components/buttons/buttons";

// Import rules
@import "../../abstracts/mixins";
@import "../../abstracts/colors";
@import "../../abstracts/animations";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
// -----------------------------------------------------------------------------------




    // .stat-section {
    //     @include mq('laptop');
    //     width: 100%;
    //     height: auto;
    //     // padding: 48px 0;
    //     background: $background-color-stats-section;
    
    //         .wrapper-stat {
    //             @include flex(column);
    //             padding: 48px 24px;
    //             justify-content: center;
    //             align-items: center;
    //             margin: 0;
    //             width: 100%;
    //             text-align: center;
    
    //                 & svg {
    //                     margin: 0 0 24px;
    //                 }
    
    //                 h2 {
    //                     font-size: 40px;
    //                     font-weight: 600;
    //                     line-height: 1.1;
    //                     color:  $card-dist-title;
    //                 }
    
    //                 h2:nth-child(3) {
    //                     margin-bottom: 32px
    //                 }
    
    //                 .description-stat-sec {
    //                     font-size: 16px;
    //                     color: $card-dist-text;
    //                 }
    
    //                 .dst1 {
    //                     font-weight: 400;
    //                 }
    
    //                 .dst2 {
    //                     vertical-align: baseline;
    //                     margin-bottom: 10px;
    //                 }
    
    //                 .dst3 {
    //                     font-weight: 600;
    //                     margin-bottom: 32px
    //                 }
    
    //                 .card-container-dst {
    //                     @include flex();
    //                     // width: 100%;
    //                     // flex-wrap: wrap;
    
    //                         .card-dst {
    //                             background-color: $background-color-cards; // veder se usare questo o no,è l originale e risulta un po chiaro.
    //                             @include flex(column);
    //                             padding: 24px;
    //                             border-radius: 24px;
    //                             margin-right: 16px;
    //                             position: relative;
    //                             border: 1px $shadow-border-stats-card;
    //                             border-bottom: 3px $shadow-border-stats-card;
    //                             width: 280px;
    //                             height: 280px;
    
    //                                 .card-dist-svg {
    //                                     align-self: flex-end;
    //                                     position: absolute;
    //                                     top: 24px;
    //                                     right: 24px;
    
    //                                         .cdsvg-color1 {
    //                                             fill: $secondary-dk;
    //                                         }
    
    //                                         .cdsvg-color2 {
    //                                             fill: $green;
    //                                         }
    
    //                                         .cdsvg-color3 {
    //                                             fill: $pink;
    //                                         }
    
    
    //                                 }
    
    //                                 .card-dist-title {
    //                                     text-align: left;
    //                                     margin-top: 64px;
    
    //                                         & h2 {
    //                                             font-size: 40px;
    //                                             font-weight: 600;
    //                                             line-height: 1.1;
    //                                         }
    
    //                                         & .cdta {
    //                                             color: $card-dist-title;
    //                                         }
    
    //                                         & .cdtb {
    //                                             margin-bottom: 24px;
    //                                         }
    
    //                                         & .cdtb1 {
    //                                             color: $secondary-dk;
    //                                         }
    
    //                                         & .cdtb2 {
    //                                             color: $green;
    //                                         }
    
    //                                         & .cdtb3 {
    //                                             color: $pink;
    //                                         }
    
    //                                         .card-dist-last-text {
    //                                             color: $card-dist-text;
    //                                             line-height: 1.5;
    //                                             font-weight: 400;
    //                                             font-size: 16px;
    //                                         }
    //                                 }
    //                         }
    //                 }
    //         }
    
    //         .svg-transition-color-box {
    //             background-color: black;
    
    //                 .svg-transition-color {
    //                     fill: rgb(30, 17, 50);
    //                     width: 100%;
    //                     height: 100%;
    //                     max-height: 48px;
    //                 }
    //         }
    
    // }
    

//CONTROLLARE gli H2 perchè con la loro classe non andavano e ho dovuto mettere direttamente il tag




@media  screen and (min-width: 968px){

    .stat-section {
        @include mq('laptop');
        width: 100%;
        height: auto;
        // padding: 48px 0;
        background: $background-color-stats-section;
    
            .wrapper-stat {
                @include flex(column);
                padding: 48px 24px;
                justify-content: center;
                align-items: center;
                margin: 0;
                width: 100%;
                text-align: center;
    
                    & svg {
                        margin: 0 0 24px;
                    }
    
                    h2 {
                        font-size: 40px;
                        font-weight: 600;
                        line-height: 1.1;
                        color:  $card-dist-title;
                    }
    
                    h2:nth-child(3) {
                        margin-bottom: 32px
                    }
    
                    .description-stat-sec {
                        font-size: 16px;
                        color: $dist-text;
                    }
    
                    .dst1 {
                        font-weight: 400;
                    }
    
                    .dst2 {
                        vertical-align: baseline;
                        margin-bottom: 10px;
                    }
    
                    .dst3 {
                        font-weight: 600;
                        margin-bottom: 32px
                    }
    
                    .card-container-dst {
                        @include flex();
                        // width: 100%;
                        // flex-wrap: wrap;
    
                            .card-dst {
                                background-color: $background-color-cards; // veder se usare questo o no,è l originale e risulta un po chiaro.
                                @include flex(column);
                                padding: 24px;
                                margin-right: 16px;
                                border-radius: 24px;
                                position: relative;
                                border: 1px $shadow-border-stats-card;
                                border-bottom: 3px $shadow-border-stats-card;
                                width: 280px;
                                height: 280px;
    
                                    .card-dist-svg {
                                        align-self: flex-end;
                                        position: absolute;
                                        top: 24px;
                                        right: 24px;
    
                                            .cdsvg-color1 {
                                                fill: $card-dist-title-2a;
                                            }
    
                                            .cdsvg-color2 {
                                                fill: $card-dist-title-2b;
                                            }
    
                                            .cdsvg-color3 {
                                                fill: $card-dist-title-2c;
                                            }
    
    
                                    }
    
                                    .card-dist-title {
                                        text-align: left;
                                        margin-top: 64px;
                                        align-self: flex-start;
    
                                            & h2 {
                                                font-size: 40px;
                                                font-weight: 600;
                                                line-height: 1.1;
                                            }
    
                                            & .cdta {
                                                color: $card-dist-title;
                                            }
    
                                            & .cdtb {
                                                margin-bottom: 24px;
                                            }
    
                                            & .cdtb1 {
                                                color: $card-dist-title-2a;
                                            }
    
                                            & .cdtb2 {
                                                color: $card-dist-title-2b;
                                            }
    
                                            & .cdtb3 {
                                                color: $card-dist-title-2c;
                                            }
    
                                            .card-dist-last-text {
                                                color: $dist-texts;
                                                line-height: 1.5;
                                                font-weight: 400;
                                                font-size: 16px;
                                            }
                                    }
                            }
                    }
            }
    
            .svg-transition-color-box {
                background-color: black;
    
                    .svg-transition-color {
                        fill: rgb(30, 17, 50);
                        width: 100%;
                        height: 100%;
                        max-height: 48px;
                    }
            }
    
    }
    
    }
// MEDIA -->  851px  ####################### 851px  ########################### 851px  #################################à


@media  screen and (min-width: 851px) and (max-width: 968px) {

.stat-section {
    @include mq('laptop');
    width: 100%;
    height: auto;
    // padding: 48px 0;
    background: $background-color-stats-section;

        .wrapper-stat {
            @include flex(column);
            padding: 48px 24px;
            justify-content: center;
            align-items: center;
            margin: 0;
            width: 100%;
            text-align: center;

                & svg {
                    margin: 0 0 24px;
                }

                h2 {
                    font-size: 32px;
                    font-weight: 600;
                    line-height: 1.1;
                    color:  $card-dist-title;
                }

                h2:nth-child(3) {
                    margin-bottom: 32px
                }

                .description-stat-sec {
                    font-size: 16px;
                    color: $card-dist-text;
                }

                .dst1 {
                    font-weight: 400;
                }

                .dst2 {
                    vertical-align: baseline;
                    margin-bottom: 10px;
                }

                .dst3 {
                    font-weight: 600;
                    margin-bottom: 32px
                }

                .card-container-dst {
                    @include flex();
                    // width: 100%;
                    // flex-wrap: wrap;

                        .card-dst {
                            background-color: $background-color-cards; // veder se usare questo o no,è l originale e risulta un po chiaro.
                            @include flex(column);
                            padding: 24px;
                            border-radius: 24px;
                            margin-right: 16px;
                            position: relative;
                            border: 1px $shadow-border-stats-card;
                            border-bottom: 3px $shadow-border-stats-card;
                            width: 280px;


                                .card-dist-svg {
                                    align-self: flex-end;
                                    position: absolute;
                                    top: 24px;
                                    right: 24px;

                                        .cdsvg-color1 {
                                            fill: $secondary-dk;
                                        }

                                        .cdsvg-color2 {
                                            fill: $green;
                                        }

                                        .cdsvg-color3 {
                                            fill: $pink;
                                        }


                                }

                                .card-dist-title {
                                    text-align: left;
                                    margin-top: 64px;

                                        & h2 {
                                            font-size: 40px;
                                            font-weight: 600;
                                            line-height: 1.1;
                                        }

                                        & .cdta {
                                            color: $card-dist-title;
                                        }

                                        & .cdtb {
                                            margin-bottom: 24px;
                                        }

                                        & .cdtb1 {
                                            color: $secondary-dk;
                                        }

                                        & .cdtb2 {
                                            color: $green;
                                        }

                                        & .cdtb3 {
                                            color: $pink;
                                        }

                                        .card-dist-last-text {
                                            color: $card-dist-text;
                                            line-height: 1.5;
                                            font-weight: 400;
                                            font-size: 16px;
                                        }
                                }
                        }
                }
        }

        .svg-transition-color-box {
            background-color: black;

                .svg-transition-color {
                    fill: rgb(30, 17, 50);
                    width: 100%;
                    height: 100%;
                    max-height: 48px;
                }
        }

}

}

// MEDIA -->  851px  ####################### 851px  ########################### 851px  #################################à


@media  screen and (max-width: 851px){
    .stat-section {
        margin-top: 200px;
        // @include mq('tablet');
        width: 100%;
        height: auto;
        // padding: 48px 0;
        background: $background-color-stats-section;
    
            .wrapper-stat {
                @include flex(column,);
                padding: 16px;
                justify-content: center;
                align-items: center;
                margin: 0;
                width: 100%;
                text-align: center;
    
                    & svg {
                        margin: 0 0 24px;
                    }
    
                    h2 {
                        font-size: 32px;
                        font-weight: 600;
                        line-height: 1.1;
                        color:  $card-dist-title;
                    }
    
                    h2:nth-child(3) {
                        margin-bottom: 32px
                    }
    
                    .description-stat-sec {
                        font-size: 16px;
                        color: $card-dist-text;
                    }
    
                    .dst1 {
                        font-weight: 400;
                    }
    
                    .dst2 {
                        vertical-align: baseline;
                        margin-bottom: 20px;
                    }
    
                    .dst3 {
                        font-weight: 600;
                        margin-bottom: 32px
                    }
    
                    .card-container-dst {
                        @include flex(column);
                        width: 100%;
    
                            .card-dst {
                                background-color: $background-color-cards; // veder se usare questo o no,è l originale e risulta un po chiaro.
                                @include flex(row, flex-start);
                                padding: 24px;
                                border-radius: 24px;
                                // margin-right: 16px;
                                position: relative;
                                border: 1px $shadow-border-stats-card;
                                border-bottom: 3px $shadow-border-stats-card;
                                margin-bottom: 15px;
                                line-height: 1;
                                width: 280px;
    
                                    .card-dist-svg {
                                        align-self: flex-end;
                                        position: absolute;
                                        top: 24px;
                                        right: 24px;
    
                                            .cdsvg-color1 {
                                                fill: $secondary-dk;
                                            }
    
                                            .cdsvg-color2 {
                                                fill: $green;
                                            }
    
                                            .cdsvg-color3 {
                                                fill: $pink;
                                            }
    
    
                                    }
    
                                    .card-dist-title {
                                        text-align: left;
                                        margin-top: 0px;

    
                                            & h2 {
                                                font-size: 32px;
                                                font-weight: 600;
                                                line-height: 1.1;
                                            }
    
                                            & .cdta {
                                                color: $card-dist-title;
                                            }
    
                                            & .cdtb {
                                                margin-bottom: 24px;
                                            }
    
                                            & .cdtb1 {
                                                color: $secondary-dk;
                                            }
    
                                            & .cdtb2 {
                                                color: $green;
                                            }
    
                                            & .cdtb3 {
                                                color: $pink;
                                            }
    
                                            .card-dist-last-text {
                                                color: $card-dist-text;
                                                line-height: 1.5;
                                                font-weight: 400;
                                                font-size: 16px;
                                            }
                                    }
                            }
                    }
            }
    
            .svg-transition-color-box {
                background-color: black;
                @include flex(column);
    
                    .svg-transition-color {
                        fill: rgb(30, 17, 50);
                        width: 100%;
                        height: 100%;
                        max-height: 48px;
                    }
            }
    
    }

}






















// @media  screen and (max-width: 851px){
//             .wrapper-stat {
//                 .card-container-dst {
//                     @include flex(column);
//                 }
//             }
//     }
