// Use rules
@use "../../components/buttons/buttons";

// Import rules
@import "../../abstracts/mixins";
@import "../../abstracts/colors";
@import "../../abstracts/animations";

//scrollbar

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background: #000000;
    color: purple;
}



::-webkit-scrollbar-thumb {
    -webkit-border-radius: 6px;
    border-radius: 6px;
    background-color: #c3b4ce;
    border: none;
}

//end scrollbar

.ea-earn {

    @include mq('laptop');
    @include flex(column);
    position: absolute;
    padding-top: 400px;
    width: 100%;
    height: 1000px;
    background: #3B3D51;
    

    .ea-wrapper {
        width: 100%;
        height: 100%;
        @include flex(row-reverse, space-between, center);
        position: relative;
        z-index: 2;
      

        .ea-contents-section {
            text-align: left;
            width: 53%;
            padding-right: 15%;
            

            h2 {
                color: white;
                padding-top: 20px;
                font-size: 40px;
                font-weight: 600;
                line-height: 1.1;

                 .ea-text-span{
                    color:#9A6AFF;
                }
            }

            h3 {
                color: #B8ADD2;
                font-size: 16px;
                font-weight: lighter;
                padding-top: 25px;
            }

            .ea-buttons-section {
                margin-top: 20px;
                display: flex;

                .button-aquagreen {
                    width: 170px;
                    margin-right: 10px;
                }

            }

            .link-aquagreen {
                text-decoration: none;
            }

        }

        .ea-img-section {
            width: 47%;
            height: 100%;
            @include flex();
            margin-left: 15%;

            .ea-goldencoin {
                margin-right: 10px;
                margin-top: 10%;
                @include float-anim(5s, "NW");
                
                img {
                    z-index: 3;
                    height: 400px;
                    width: auto;
                }
            }

                .ea-img-semiwrap {
                    position: absolute;
                    margin-right: 8%;
                    height: 400px;
                    width: 400px;

                    .ea-bitcoin img {
                        @include float-anim(3s, "NW");
                    }
                    .ea-cakecoin img {
                        @include float-anim(4s, "N");
                    }
                   
                    img {

                        position: absolute;
                        height: 100%;
                        width: auto;
                    }

                }
            
        }
    }

    // .fb-bottomgradient {
        
    //     position: relative;
    //     margin-bottom: 0;
    //     bottom: 180px;
    //     width: 100%;
        

    //     svg {
    //         z-index: 1;
    //     }

    // }

    }
















































































    
