// Built in modules
@use "sass:map";
@use "sass:list";
// Tyography
@use "../style/abstracts/typography";
// Pages
@use "pages/home";
@use "pages/trade-swap";

// Dichiarazioni import
@import "abstracts/animations";
@import "abstracts/mixins";
@import "abstracts/variables";
@import "abstracts/colors";
@import "base/utility";
// @import "style/components/buttons/buttons-variables";


 

// Scrollbar

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background: #000000;
    color: purple;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 6px;
    border-radius: 6px;
    background-color: #c3b4ce;
    border: none;
}

// Animations
@include float(10px, 'NW');
@include float(20px, 'N');
@include fade-out;


html, body {
    height: auto;
    width: 100%
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0;
}

