/* Error: expected selector.
 *    ,
 * 22 | <<<<<<< HEAD
 *    | ^
 *    '
 *   ../../components/buttons/_buttons.scss 22:1  @use
 *   _footer.scss 2:1                             root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: expected selector.\a    \2577 \a 22 \2502  <<<<<<< HEAD\a    \2502  ^\a    \2575 \a   ../../components/buttons/_buttons.scss 22:1  @use\a   _footer.scss 2:1                             root stylesheet";
}
