// Built in modules
@use "sass:map";
@use "sass:list";
// Tyography
@use "../style/abstracts/typography";
// Pages
@use "pages/home";
// @use "pages/trade-swap";

// Dichiarazioni import
@import "abstracts/animations";
@import "abstracts/mixins";
@import "abstracts/variables";
@import "abstracts/colors";



// Animations

@include float(10px, 'NW');
@include float(100px, 'N');
@include fade-out;


html, body {
    height: 100%;
    width: 100%
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}

