*{
    padding: 0%;
    margin: 0px;
    body{
        height: 40vh;
        width: 100%;
        background-color: red;
        display: flex;

        ul{
          list-style: none;
        }

    }
    
}