<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/style.css">
    <title>Document</title>
</head>
<body>
    <section>

    </section>
    <section>
        <ul>
            <li><a href=""></a>Trade</li>
            <li><a href=""></a>Earn</li>
            <li><a href=""></a>Win</li>
            <li><a href=""></a>NFT</li>
            <li><a href=""></a>...</li>

        </ul>
    </section>
    <section>
        <img src="/resouces/icon_svg/icons8-globe-32.png" alt="icon">
        <img src="/resouces/icon_svg/icons8-settings-24.png" alt="icon">

    </section>
    
</body>
</html>