<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../style.css">
</head>

<body>


<section class="main-section-currencty-converter">
    <div class="currency-converter">
        <div class="cc-top-content">

            <div class="cct-title-box">
                <div>
                    place-holder | 
                </div>

                <div>
                    Swap |
                </div>

                <div>
                    plache-holder
                </div>


            </div>
            
            <div class="cct-description">Trade tokens in an instant</div>
            
        </div>
<!-- -- -- -- -- -- -- -- -- -- -- -- -- --  -->

        <div class="cc-body-content">

            <div class="currency-a">
                <div class="currency-logo cl-a">
                    LOGO PLACE-HOLDER A
                </div>

                <div class="cc-input-box ccib-a">
                    INSERIRE LA CIFRA

                </div>

            </div>

        <!-- -- -- -- -- -- -- -- -- -- -- -- -- --  -->
            <div class="cc-arrov-box">
                ARROW
            </div>

        <!-- -- -- -- -- -- -- -- -- -- -- -- -- --  -->
            <div class="currency-b">
                <div class="currency-logo cl-b">
                    LOGO PLACE-HOLDER B
                </div>

                <div class="cc-input-box ccib-b">
                    INSERIRE LA CIFRA
                </div>

            </div>

        <!-- -- -- -- -- -- -- -- -- -- -- -- -- --  -->
            <div class="info-cc-box">
                <span>description</span>
                <span>000%</span>
            </div>
          
        </div>
        
<!-- -- -- -- -- -- -- -- -- -- -- -- -- --  -->

<div class="cc-foot-content">
    <button>BOTTONE</button> <!-- prendere quelli gia fatti -->
</div>


    </div>
</section>


    
</body>
</html>