// Use rules
@use "../../components/buttons/buttons";

// Import rules
@import "../../abstracts/mixins";
@import "../../abstracts/colors";
@import "../../abstracts/variables";

.box-layout6{
    padding: 48px 0px ;
    background-color: $black-dk;

}
h1{
    color: #fff555;
}