<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout 6</title>
</head>
<body class="box">
    <section>
        <div>
            <h1>CAKE makes our world go round.
            </h1>
            <p>CAKE token is at the heart of the PancakeSwap ecosystem. 
                Buy it, win it, farm it, spend it, stake it... heck, you can even vote with it!</p>
            <button>Buy CAKE</button>
            <button>Learn</button>
        </div>
        <img src="/resources/1-top@2x.webp" alt="top">

    </section>
    <section>

    </section>
    
</body>
</html>