<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../style.css">
    <title>Layout 6</title>
</head>
 <body class="box-layout6" >   <!--onload="document.getElementById('data1').innerHTML = getRandomNum(1434^2 , 145978988), document.getElementById('data2').innerHTML = getRandomNum(324.456 , 345.567)"-->
    <script type="text/javascript" src="/style/layout/home-ck-makes-w-around/layout6.js">
        
        // function getRandomNum(min, max) {
        //     return Math.floor(Math.random() * (max - min + 1)) + min;
        // }
        
    </script>

    <section class="box-flex">
        <div class="box-flex1">
            <div>
                <h2> <span class="tx-span">CAKE</span> makes our world go round.</h2>
                <p class="main-p">CAKE token is at the heart of the PancakeSwap ecosystem. 
                Buy it, win it, farm it, spend it, stake it... heck, you can even vote with it!</p>
            </div>
            <div class="link-aquagreen flex">
                <button class="button-aquagreen buttons-buyCake">Buy CAKE</button>
                <a href=" ">Learn</a>
                
            </div>
        </div>
        <div class="img-wrapper">
            <div class="bottom-right-pill">
                <img src="../../../resources/bottom-right.webp">
            </div>
            <div class="floating-pills">
                <div class="top-left-pill">
                    <img src="../../../resources/top-left@2x.webp">
                </div>
                <div class="coin">
                    <img src="../../../resources/coin.webp">
                </div>
                <div class="top-right-pill">
                    <img src="../../../resources/top-right.webp">
                </div>
            </div>
        </div>
    </section>

    <section class="box-flex-table counters">
        <!-- <div class="box-flex-data">
            <div classe="box-flex4">
                <p class="main-p">Circulating Supply</p>
                <p class="sec-p">141,521,761</p>
            </div>
            <div classe="box-flex4">
                <p class="main-p">Total supply</p>
                <p class="sec-p">141,521,761</p>
            </div>
            <div classe="box-flex4">
                <p class="main-p">Max Supply</p>
                <p class="sec-p">141,521,761</p>
            </div>
        </div>
        <div class="box-flex-data">
            <div classe="box-flex4">
                <p class="main-p">Market cap</p>
                <p class="sec-p">141,521,761</p>
            </div>
            <div classe="box-flex4">
                <p class="main-p">Burned to date</p>
                <p class="sec-p">141,521,761</p>
            </div>
            <div classe="box-flex4 line-side">
                <p class="main-p">Current emissions</p>
                <p class="sec-p">141,521,761</p>
            </div>
        </div> -->
        <div class="box-flex-data1 box-flex-data">
            <div >
                <p class="main-p">Circulating Supply</p>
                <p class="sec-p counter" id="data1" data-target="145.978.988">140.978.988</p>
            </div>
            <div classe="box-flex4">
                <p class="main-p">Market cap</p>
                <p class="sec-p ">$550 million</p>
            </div>

        </div>
        <div class="box-flex-data2 box-flex-data">
            <div >
                <p class="main-p">Total supply</p>
                <p class="sec-p counter" id="data2" data-target="315.978.988">310.978.988</p>
            </div>
            <div>
                <p class="main-p">Burned to date</p>
                <p class="sec-p">571,521,761</p>
            </div>

        </div>
        <div class="box-flex-data3 box-flex-data">
            <div >
                <p class="main-p">Max Supply</p>
                <p class="sec-p">750,000,761</p>
            </div>
            <div >
                <p class="main-p">Current emissions</p>
                <p class="sec-p">12.75/block</p>
            </div>
        </div>
        

    </section>
    
</body>
</html>