<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../style.css">
    <title>Layout 6</title>
</head>
<body class="box-layout6">
    <section class="box-flex">
        <div class="box-flex1">
            <div>
                <h1>CAKE makes our world go round.</h1>
                <p>CAKE token is at the heart of the PancakeSwap ecosystem. 
                Buy it, win it, farm it, spend it, stake it... heck, you can even vote with it!</p>
            </div>
            <div>
                <button>Buy CAKE</button>
                <button>Learn</button>
            </div>
        </div>
        <img class="flott" src="/resources/1-top@2x.webp" alt="top">

    </section>
    <section class="box-flex2">
        <div class="box-flex3">
            <div classe="box-flex4">
                <p>Circulating Supply</p>
                <p>141,521,761</p>
            </div>
            <div classe="box-flex4">
                <p>Total supply</p>
                <p>141,521,761</p>
            </div>
            <div classe="box-flex4">
                <p>Max Supply</p>
                <p>141,521,761</p>
            </div>
        </div>
        <div class="box-flex3">
            <div classe="box-flex4">
                <p>Market cap</p>
                <p>141,521,761</p>
            </div>
            <div classe="box-flex4">
                <p>Burned to date</p>
                <p>141,521,761</p>
            </div>
            <div classe="box-flex4">
                <p>Current emissions</p>
                <p>141,521,761</p>
            </div>
        </div>

    </section>
    
</body>
</html>