// Use rules
@use "../../components/buttons/buttons";
@use "sass:map";

// Import rules
@import "../../abstracts/mixins";
@import "../../abstracts/colors";
@import "../../abstracts/animations";

// Set colori tema scuro
$theme-dark: map.set($theme-dark, "floating-bunny", "background-gradient", linear-gradient(180deg, rgba(22, 9, 49, 1) 0%, rgba(22, 9, 49, 1) 47%, rgba(19, 8, 43, 1) 65%, rgba(11, 5, 25, 1) 100%, rgba(0, 0, 0, 1) 100%));
$theme-dark: map.set($theme-dark, "text", "paragraph-dark", rgb(154, 106, 255));
$theme-dark: map.set($theme-dark, "text", "header2-text", rgb(244, 238, 255));

// Set colori tema chiaro
$theme-light: map.set($theme-light, "floating-bunny", "background-gradient", linear-gradient(102deg, rgba(231,252,255,1) 100%, rgba(240,243,255,1) 100%));
$theme-light: map.set($theme-light, "text", "paragraph-light", rgb(122, 110, 170));
$theme-light: map.set($theme-light, "text", "header2-text", rgb(40, 13, 95));

.theme-dark {
    --background-floating-bunny: #{map.get($theme-dark, "floating-bunny", "background-gradient")};
    --text-paragraph: #{map.get($theme-dark, "text", "paragraph-dark")};
    --heading-2: #{map.get($theme-dark, "text", "header2-text")};
}


.theme-light {
    --background-floating-bunny: #{map.get($theme-light, "floating-bunny", "background-gradient")};
    --text-paragraph: #{map.get($theme-light, "text", "paragraph-light")};
    --heading-2: #{map.get($theme-light, "text", "header2-text")};
}



* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100vh;
}

//scrollbar

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background: #000000;
    color: purple;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 6px;
    border-radius: 6px;
    background-color: #c3b4ce;
    border: none;
}

//end scrollbar

.fb-floating-bunny {

    padding-top: 150px;
    padding-bottom: 150px;
    @include mq('desktop');
    @include flex(column);
    position: relative;
    width: 100%;
    height: auto;
    background: var(--background-floating-bunny);

    // ###########################################################################

    // MEDIA---> MIN 968PX <---###########################################################################
    @media screen and (min-width: 968px) {

        .main-banner-container {
            // @include mq('laptop');
            @include flex();
            padding: 20px;
            width: 1152px;
            // background-color: rgba(0, 0, 255, 0.023);

            .main-banner-sub-container {
                @include flex();
                background: $main-banner-background-gradient;
                /*linear-gradient(rgb(128, 81, 214) 0%, rgb(73, 34, 134) 100%)*/
                height: 185px;
                width: 90%;
                padding: 30px;
                border-radius: 24px;
                position: relative;

                // ---Banner che cambia-------------BANNER A--------------------------------------------------------

                // .banner-a {
                //     // ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
                //     display: block;
                //     // display: none;
                // }

                .main-banner-content-container {
                    width: 100%;
                    height: 100%;
                    // background-color: rgba(123, 202, 123, 0.199);
                    // border: 1px solid chartreuse;
                    @include flex(column);
                    justify-content: center;
                    align-items: flex-start;
                    z-index: 1;

                    .main-banner-title-a {
                        color: white;
                        font-family: Kanit, sans-serif
                    }

                    .mbt-a1 {
                        font-size: 24px;
                        background: $main-banner-orange-gradient-titles;
                        /*linear-gradient(rgb(255, 216, 0), rgb(235, 140, 0))*/
                        -webkit-text-fill-color: transparent;
                        background-clip: text;
                        -webkit-background-clip: text;
                        /*controllare quale usare, forse vanno messi entrambi, sia con sia senza il prefisso WEBKIT*/
                        margin-bottom: 8px;
                    }

                    .mbt-a2 {
                        font-size: 40px;
                        margin-bottom: 16px;
                        text-shadow: $main-banner-titles-text-shadow;
                        /* rgba(0, 0, 0, 0.35) 0px 4px 3px*/

                    }

                    .main-banner-button-a {
                        color: $black;
                        fill: $black;

                    }

                }

                .swiper-slide {
                    background-color: transparent;
                    width: 100px;
                    height: 8px;
                    background-color: rgba(186, 235, 74, 0.174);
                    border-radius: 10px;
                    position: absolute;
                    bottom: 15px;
                    @include flex();
                    contain: content;

                    .swiper {
                        width: 50%;
                        height: 8px;
                        background-color: $white;
                    }

                    .swpr-a {
                        visibility: initial;
                    }

                    .swpr-b {
                        visibility: hidden;
                    }
                }

                .bunny-container-a {
                    width: 40%;
                    height: 121%;
                    // background-color: rgba(5, 5, 2, 0.34);
                    position: absolute;
                    border-radius: 24px;
                    bottom: 0;
                    right: 0;
                    z-index: 0;
                    // display: block;
                    flex-shrink: 1.5;

                    & img {
                        min-width: 100%;
                        max-width: 100%;
                        height: 100%;
                    }


                    .banner-a,
                    .bunny-container-a {
                        display: block; //++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
                        // display: none;
                    }

                }

                // ---Banner che cambia-------------BANNER B--------------------------------------------------------

                .banner-b {
                    display: none; // +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
                    // display: block;


                    .main-banner-title-b {
                        color: $white;
                        font-family: Kanit, sans-serif
                    }

                    .mbt-b1 {
                        font-size: 24px;
                        text-shadow: $main-banner-titles-text-shadow;
                        /*rgba(0, 0, 0,  0.35) 0px 3px 3px*/
                        margin-bottom: 8px
                    }


                    .mb-counter-lottery {
                        @include flex(row, center, flex-end);
                        margin-bottom: 16px;
                        background: url(https://pancakeswap.finance/images/decorations/countdownBg.png) 0% 0% / 100% 100%;
                        background-repeat: no-repeat;
                        padding: 0 7px 10px;

                        .mbcl-item {
                            // border: 1px solid red;
                            font-weight: 600;
                            line-height: 1.1;
                            background: $main-banner-orange-gradient-titles;
                            /*linear-gradient(rgb(255, 216, 0), rgb(235, 140, 0))*/
                            -webkit-text-fill-color: transparent;
                            background-clip: text;
                            -webkit-background-clip: text;
                            // -- -- -- -- -- -- --


                        }

                        .mbcli-number {
                            // background-color: rgba(128, 255, 0, 0.485);
                            font-size: 40px;
                            margin: 0px 4px -4px 0px;

                        }

                        .mbcli-time {
                            // background-color: rgba(235, 131, 211, 0.279);
                            font-size: 20px;
                            margin: 0px 12px 0px 0px;



                        }
                    }
                }

                .bunny-container-b {
                    width: 100%;
                    height: 120%;
                    // background-color: rgba(5, 5, 2, 0.34);
                    position: absolute;
                    border-radius: 24px;
                    bottom: -2.5px;
                    right: 0px;
                    z-index: 0;
                    /*-- -- -- --*/
                    display: none; // ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
                    // display: block;


                    & img {
                        min-width: 100%;
                        max-width: 100%;
                        height: 100%;
                    }
                }
            }
        }
    }

    // MEDIA---> MAX 968PX <---##################---> MIN 576PX <---###################
    @media screen and (max-width: 968px) and (min-width: 575px) {

        .main-banner-container {
            // @include mq('laptop');
            @include flex();
            padding: 20px;
            width: 80%;
            // background-color: rgba(0, 0, 255, 0.023);
            position: relative;

            .main-banner-sub-container {
                @include flex();
                background: $main-banner-background-gradient;
                /*linear-gradient(rgb(128, 81, 214) 0%, rgb(73, 34, 134) 100%)*/
                height: 220px;
                width: 100%;
                padding: 24px;
                border-radius: 24px;
                position: relative;

                // ---Banner che cambia-------------BANNER A--------------------------------------------------------

                .banner-a {
                    display: block;
                }

                .main-banner-content-container {
                    width: 100%;
                    height: 100%;
                    // background-color: rgba(123, 202, 123, 0.199);
                    // border: 1px solid chartreuse;
                    @include flex(column);
                    justify-content: center;
                    align-items: flex-start;
                    z-index: 1;

                    .main-banner-title-a {
                        color: white;
                        font-family: Kanit, sans-serif
                    }

                    .mbt-a1 {
                        font-size: 24px;
                        background: $main-banner-orange-gradient-titles;
                        /*linear-gradient(rgb(255, 216, 0), rgb(235, 140, 0))*/
                        -webkit-text-fill-color: transparent;
                        background-clip: text;
                        -webkit-background-clip: text;
                        /*controllare quale usare, forse vanno messi entrambi, sia con sia senza il prefisso WEBKIT*/
                        margin-bottom: 8px;
                        line-height: 1;
                    }

                    .mbt-a2 {
                        font-size: 40px;
                        margin-bottom: 16px;
                        text-shadow: $main-banner-titles-text-shadow;
                        /* rgba(0, 0, 0, 0.35) 0px 4px 3px*/
                        line-height: 1;

                    }

                    .main-banner-button-a {
                        color: $black;
                        fill: $black;
                        width: auto;

                    }

                }

                .swiper-slide {
                    background-color: transparent;
                    width: 100px;
                    height: 8px;
                    background-color: rgba(186, 235, 74, 0.174);
                    border-radius: 10px;
                    position: absolute;
                    bottom: 15px;
                    @include flex();
                    contain: content;

                    .swiper {
                        width: 50%;
                        height: 8px;
                        background-color: $white;
                    }

                    .swpr-a {
                        visibility: initial;
                    }

                    .swpr-b {
                        visibility: hidden;
                    }
                }

                .bunny-container-a {
                    width: 30%;
                    height: 121%;
                    // background-color: rgba(5, 5, 2, 0.34);
                    position: absolute;
                    border-radius: 24px;
                    bottom: 0px;
                    right: 0px;
                    z-index: 0;
                    display: block;
                    flex-shrink: 1.5;


                    & img {
                        min-width: 100%;
                        max-width: 100%;
                        height: 99%;
                        align-items: center;
                        transform: translateY(11.5px);
                        border-radius: 0px;
                    }


                    .banner-a,
                    .bunny-container-a {
                        display: block;
                    }

                }

                // ---Banner che cambia-------------BANNER B--------------------------------------------------------

                .banner-b {
                    display: none;

                    .main-banner-title-b {
                        color: $white;
                        font-family: Kanit, sans-serif
                    }

                    .mbt-b1 {
                        font-size: 24px;
                        text-shadow: $main-banner-titles-text-shadow;
                        /*rgba(0, 0, 0,  0.35) 0px 3px 3px*/
                        margin-bottom: 8px
                    }


                    .mb-counter-lottery {
                        @include flex(row, center, flex-end);
                        margin-bottom: 16px;
                        background: url(https://pancakeswap.finance/images/decorations/countdownBg.png) 0% 0% / 100% 100%;
                        background-repeat: no-repeat;
                        padding: 0 7px 10px;

                        .mbcl-item {
                            // border: 1px solid red;
                            font-weight: 600;
                            line-height: 1.1;
                            background: $main-banner-orange-gradient-titles;
                            /*linear-gradient(rgb(255, 216, 0), rgb(235, 140, 0))*/
                            -webkit-text-fill-color: transparent;
                            background-clip: text;
                            -webkit-background-clip: text;
                            // -- -- -- -- -- -- --


                        }

                        .mbcli-number {
                            // background-color: rgba(128, 255, 0, 0.485);
                            font-size: 40px;
                            margin: 0px 4px -4px 0px;

                        }

                        .mbcli-time {
                            // background-color: rgba(235, 131, 211, 0.279);
                            font-size: 20px;
                            margin: 0px 12px 0px 0px;



                        }
                    }
                }

                .bunny-container-b {
                    width: 100%;
                    height: 120%;
                    // background-color: rgba(5, 5, 2, 0.34);
                    position: absolute;
                    border-radius: 24px;
                    bottom: -2.5px;
                    right: 0px;
                    z-index: 0;
                    /*-- -- -- --*/
                    display: none;

                    & img {
                        min-width: 100%;
                        max-width: 100%;
                        height: 100%;
                    }
                }
            }
        }

    }

    // MEDIA---> MAX 590PX <---#####################################
    @media screen and (max-width: 590px) {

        .main-banner-container {
            // @include mq('laptop');
            @include flex();
            padding: 20px;
            width: 100%;
            // background-color: rgba(0, 0, 255, 0.023);
            position: relative;

            .main-banner-sub-container {
                @include flex();
                background: $main-banner-background-gradient;
                /*linear-gradient(rgb(128, 81, 214) 0%, rgb(73, 34, 134) 100%)*/
                height: 220px;
                width: 100%;
                padding: 24px;
                border-radius: 24px;
                position: relative;

                // ---Banner che cambia-------------BANNER A--------------------------------------------------------

                .banner-a {
                    display: block;
                }

                .main-banner-content-container {
                    width: 100%;
                    height: 100%;
                    // background-color: rgba(123, 202, 123, 0.199);
                    // border: 1px solid chartreuse;
                    @include flex(column);
                    justify-content: center;
                    align-items: flex-start;
                    z-index: 1;

                    .main-banner-title-a {
                        color: white;
                        font-family: Kanit, sans-serif
                    }

                    .mbt-a1 {
                        font-size: 22px;
                        background: $main-banner-orange-gradient-titles;
                        /*linear-gradient(rgb(255, 216, 0), rgb(235, 140, 0))*/
                        -webkit-text-fill-color: transparent;
                        background-clip: text;
                        -webkit-background-clip: text;
                        /*controllare quale usare, forse vanno messi entrambi, sia con sia senza il prefisso WEBKIT*/
                        margin-bottom: 8px;
                        line-height: 1;
                    }

                    .mbt-a2 {
                        font-size: 20px;
                        margin-bottom: 8px;
                        text-shadow: $main-banner-titles-text-shadow;
                        /* rgba(0, 0, 0, 0.35) 0px 4px 3px*/
                        word-wrap: break-word;
                        line-height: 1;
                        width: 150px;

                    }

                    .main-banner-button-a {
                        color: $black;
                        fill: $black;
                        line-height: 1;


                    }

                }

                .swiper-slide {
                    background-color: transparent;
                    width: 100px;
                    height: 8px;
                    background-color: rgba(186, 235, 74, 0.174);
                    border-radius: 10px;
                    position: absolute;
                    bottom: 15px;
                    @include flex();
                    contain: content;

                    .swiper {
                        width: 50%;
                        height: 8px;
                        background-color: $white;
                    }

                    .swpr-a {
                        visibility: initial;
                    }

                    .swpr-b {
                        visibility: hidden;
                    }
                }

                .bunny-container-a {
                    width: 70%;
                    height: 121%;
                    // background-color: rgba(5, 5, 2, 0.34);
                    position: absolute;
                    border-radius: 24px;
                    bottom: 0px;
                    right: 0px;
                    z-index: 0;
                    display: block;
                    flex-shrink: 1.5;


                    & img {
                        min-width: 100%;
                        max-width: 100%;
                        height: 99%;
                        align-items: center;
                        transform: translateY(11.5px);
                        border-radius: 0px;
                    }


                    .banner-a,
                    .bunny-container-a {
                        display: block;
                    }

                }

                // ---Banner che cambia-------------BANNER B--------------------------------------------------------

                .banner-b {
                    display: none;

                    .main-banner-title-b {
                        color: $white;
                        font-family: Kanit, sans-serif
                    }

                    .mbt-b1 {
                        font-size: 24px;
                        text-shadow: $main-banner-titles-text-shadow;
                        /*rgba(0, 0, 0,  0.35) 0px 3px 3px*/
                        margin-bottom: 8px
                    }


                    .mb-counter-lottery {
                        @include flex(row, center, flex-end);
                        margin-bottom: 16px;
                        background: url(https://pancakeswap.finance/images/decorations/countdownBg.png) 0% 0% / 100% 100%;
                        background-repeat: no-repeat;
                        padding: 0 7px 10px;

                        .mbcl-item {
                            // border: 1px solid red;
                            font-weight: 600;
                            line-height: 1.1;
                            background: $main-banner-orange-gradient-titles;
                            /*linear-gradient(rgb(255, 216, 0), rgb(235, 140, 0))*/
                            -webkit-text-fill-color: transparent;
                            background-clip: text;
                            -webkit-background-clip: text;
                            // -- -- -- -- -- -- --


                        }

                        .mbcli-number {
                            // background-color: rgba(128, 255, 0, 0.485);
                            font-size: 40px;
                            margin: 0px 4px -4px 0px;

                        }

                        .mbcli-time {
                            // background-color: rgba(235, 131, 211, 0.279);
                            font-size: 20px;
                            margin: 0px 12px 0px 0px;



                        }
                    }
                }

                .bunny-container-b {
                    width: 100%;
                    height: 120%;
                    // background-color: rgba(5, 5, 2, 0.34);
                    position: absolute;
                    border-radius: 24px;
                    bottom: -2.5px;
                    right: 0px;
                    z-index: 0;
                    /*-- -- -- --*/
                    display: none;

                    & img {
                        min-width: 100%;
                        max-width: 100%;
                        height: 100%;
                    }
                }
            }
        }

    }

    // #####################################################################

    .fb-wrapper {
        color: var(--text-paragraph);
        max-width: 1200px;
        padding-top: 24px;
        @include flex(row, center);
        position: relative;
        z-index: 2;


        .fb-contents-section {
            text-align: left;
            width: 50%;
            flex-shrink: 1;
            padding-left: 60px;


            h2 {
                padding-top: 20px;
                font-size: 64px;
                font-weight: 600;
                line-height: 1.1;
            }

            h3 {
                color: var(--heading-2);
                font-size: 18px;
                padding-top: 20px;
            }

            .fb-buttons-section {
                margin-top: 20px;
                display: flex;

                .button-aquagreen {
                    width: 170px;
                    margin-right: 10px;
                }

            }

            .link-aquagreen {
                text-decoration: none;
            }

        }

        .fb-img-section {
            width: 50%;
            flex-shrink: 1;
            position: relative;

            .fb-thefloatingbunny {
                margin-right: 10%;
                margin-top: 10%;
                @include float-anim(5s, "NW");

                img {
                    z-index: 3;
                    width: 100%;
                }
            }

            .fb-thefloatingstars {
                height: auto;
                position: absolute;
                width: 100%;
                top: 0px;
                right: 50px;
                z-index: 2;

                .fb-star1 img {
                    @include fade-out-anim(2.5s);
                    z-index: 5;
                    left: 30px;
                }

                .fb-star2 img {
                    @include fade-out-anim(3.5s);
                    z-index: 5;
                }

                .fb-star3 img {
                    @include fade-out-anim(5s);
                    z-index: 5;
                }

                img {
                    position: absolute;
                    width: 100%;
                }

            }

        }
    }

    .fb-bottomgradient {

        position: absolute;
        bottom: 0px;
        width: 100%;


        svg {
            z-index: 1;
        }

    }

}

@include mq("laptop") {
    .fb-floating-bunny {
        .fb-wrapper {
            @include flex(column-reverse, center);

            .fb-contents-section {
                width: 100%;
            }

            .fb-img-section {
                align-self: flex-end;
                right: 0;
                min-width: 10px;
                max-width: 150px;

                img {
                    padding-bottom: 130px;
                    width: 20%;
                }
            }
        }
    }
}

@include mq("tablet") {
    .fb-floating-bunny {
        .fb-wrapper {
            @include flex(column-reverse, center);

            .fb-contents-section {
                width: 100%;
            }

            .fb-img-section {
                align-self: flex-end;
                right: 0;
                min-width: 10px;
                max-width: 150px;

                img {
                    padding-bottom: 80px;
                    width: 20%;
                }
            }
        }
    }
}

    @include mq("tablet-small") {
        .fb-floating-bunny {
            .fb-wrapper {
                @include flex(column-reverse, center);

                .fb-contents-section {
                    width: 100%;
                }

                .fb-img-section {
                    align-self: flex-end;
                    right: 0;
                    min-width: 10px;
                    max-width: 150px;

                    img {
                        padding-bottom: 80px;
                        width: 20%;
                    }
                }
            }
        }
    }

        @include mq("phablet") {
            .fb-floating-bunny {
                .fb-wrapper {
                    @include flex(column-reverse, center);

                    .fb-contents-section {
                        width: 100%;
                    }

                    .fb-img-section {
                        align-self: flex-end;
                        right: 0;
                        min-width: 10px;
                        max-width: 150px;

                        img {
                            padding-bottom: 80px;
                            width: 20%;
                        }
                    }
                }
            }
        }

            @include mq("phone-wide") {
                .fb-floating-bunny {
                    .fb-wrapper {
                        @include flex(column-reverse, center);

                        .fb-contents-section {
                            width: 100%;
                        }

                        .fb-img-section {
                            align-self: flex-end;
                            right: 0;
                            min-width: 10px;
                            max-width: 150px;

                            img {
                                padding-bottom: 80px;
                                width: 20%;
                            }
                        }
                    }
                }
            }

                @include mq("phone") {
                    .fb-floating-bunny {
                        .fb-wrapper {
                            @include flex(column-reverse, center);

                            .fb-contents-section {
                                width: 100%;
                            }

                            .fb-img-section {
                                align-self: flex-end;
                                right: 0;
                                min-width: 10px;
                                max-width: 150px;

                                img {
                                    padding-bottom: 80px;
                                    width: 20%;
                                }
                            }
                        }
                    }
                }
                