// Use rules
@use "../../components/buttons/buttons";

// Import rules
@import "../../abstracts/mixins";
@import "../../abstracts/colors";
@import "../../abstracts/animations";


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



body {
    width: 100%;
    height: 100vh;
}

//scrollbar

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background: #000000;
    color: purple;
}



::-webkit-scrollbar-thumb {
    -webkit-border-radius: 6px;
    border-radius: 6px;
    background-color: #c3b4ce;
    border: none;
}

//end scrollbar





.fb-floating-bunny {

    padding-top: 150px;
    padding-bottom: 150px;
    // -- -- -- -- -- -- --
    @include mq('desktop');
    @include flex(column);
    position: relative;
    width: 100%;
    height: auto;
    background: linear-gradient(180deg, rgba(22, 9, 49, 1) 0%, rgba(22, 9, 49, 1) 47%, rgba(19, 8, 43, 1) 65%, rgba(11, 5, 25, 1) 100%, rgba(0, 0, 0, 1) 100%);

// ###########################################################################


            // CODICE MILTON


// #####################################################################


    .fb-wrapper {
        color: $h2text-color;
        max-width: 1200px;
        padding: 24px;
        @include flex(row, center);
        position: relative;
        z-index: 2;


        .fb-contents-section {
            text-align: left;
            width: 60%;
            flex-shrink: 1;
            padding-left: 60px;


            h2 {
                padding-top: 20px;
                font-size: 65px;
                font-weight: 100;
                line-height: 1.1;
            }

            h3 {
                color: white;
                font-size: 18px;
                padding-top: 20px;
            }

            .fb-buttons-section {
                margin-top: 20px;
                display: flex;

                .button-aquagreen {
                    width: 170px;
                    margin-right: 10px;
                }

            }

            .link-aquagreen {
                text-decoration: none;
            }

        }

        .fb-img-section {
            width: 40%;
            flex-shrink: 1;
            position: relative;
            // height: 100%;
            // @include flex();

            .fb-thefloatingbunny {
                // position: absolute;
                margin-right: 10%;
                margin-top: 10%;
                @include float-anim(5s, "NW");

                img {
                    z-index: 3;
                    // height: 580px;
                    width: 100%;
                }
            }

            .fb-thefloatingstars {
                height: auto;
                position: absolute;
                width: 100%;
                top: 0px;
                right: 50px;
                z-index: 2;
                // width: 100%;

                .fb-star1 img {
                    @include fade-out-anim(2.5s);
                    z-index: 5;
                    left: 30px;
                }

                .fb-star2 img {
                    @include fade-out-anim(3.5s);
                    z-index: 5;
                }

                .fb-star3 img {
                    @include fade-out-anim(5s);
                    z-index: 5;
                }

                img {
                    position: absolute;
                    width: 100%;
                }

            }

        }
    }

    .fb-bottomgradient {

        position: absolute;
        bottom: 0px;
        width: 100%;


        svg {
            z-index: 1;
        }

    }

}

@include mq("laptop"){
    .fb-wrapper{
        flex-direction: column;
}
}
@include mq("tablet"){
    .fb-wrapper{
        flex-direction: column;
}
}
@include mq("tablet-small"){
    .fb-wrapper{
        flex-direction: column;
}
}
@include mq("phablet"){
    .fb-wrapper{
        flex-direction: column;
}
}
@include mq("phone-wide"){
    .fb-wrapper{
        flex-direction: column;
}
}
@include mq("phone"){
    .fb-wrapper{
        flex-direction: column;
}
}
