
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Floating bunny section</title>
    <link rel="stylesheet" href="../../style.css">
</head>

<body>
    <section class="floating-bunny">
        <div class="floating-bunny-wrapper">
            <div class="contents-section">
                <h2>The moon is made of pancakes.</h2>
                <h3>Trade, earn, and win crypto on the most popular decentralized platform in the galaxy.</h3>
                <div class="buttons-section">
                    <a href="" class="link-aquagreen">
                        <button class="button-aquagreen buttons-home">Connect Wallet</button>
                    </a>
                    <a href="" class="link-onlyborder">
                        <button class="button-onlyborder buttons-trade-swap-grafico">Trade Now</button>
                    </a>
                </div>
            </div>
            <div class="img-section">
                <div>
                    <!-- <div>
                        <img src="../../../resources/bunny@2x.webp">
                    </div>
                    <div>
                        <div>
                            <img src="../../../resources/star-l@2x.webp">
                        </div>
                        <div>
                            <img src="../../../resources/star-r@2x.webp">
                        </div>
                        <div>
                            <img src="../../../resources/star-top-r@2x.webp">
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </section>

</body>

</html>