// MAIN BUTTONS (aquagreen)

$main-buttons-background-color:rgb(212, 31, 209);
$main-buttons-color: white;
$main-buttons-border: none;
// $main-buttons-shadow: ;
// $main-buttons-font: ;
$main-buttons-font-size: 16px;
$main-buttons-font-weigth: 600;


// ONLY-BORDER BUTTONS---------------------------------
//(trasparente con solo il bordo e la scritta colorati)

$ob-buttons-background-color: transparent;
$ob-buttons-color: rgb(31, 199, 212);
$ob-buttons-border: 2px solid rgb(31, 199, 212);
// $ob-buttons-shadow: ;
// $ob-buttons-font-style: ;
$ob-buttons-font-size: 16px;
$ob-buttons-font-weigth: 600;


// // SEMI-TRANSP BUTTONS 
// $semi-transp-buttons-background-color: transparent ;
// $main-buttons-color: white;
// // $semi-transp-buttons-shadow: ;
// // $semi-transp-buttons-font: ;
// $semi-transp-buttons-font-size: 16px;
// $semi-transp-buttons-font-weigth: 600;

// // TRANSPARENT BUTTONS 
// $transp-buttons-background-color: rgb(31, 199, 212);
// $transp-buttons-color: white;
// // $transp-buttons-shadow: ;
// // $transp-buttons-font: ;
// $transp-buttons-font-size: 16px;
// $transp-buttons-font-weigth: 600;

// // FAKE-SWITCH BUTTONS 
// $transp-buttons-background-color: rgb(31, 199, 212);
// $transp-buttons-color: white;
// // $transp-buttons-shadow: ;
// // $transp-buttons-font: ;
// $transp-buttons-font-size: 16px;
// $transp-buttons-font-weigth: 600;



// // SWITCH-BIG BUTTONS 
// $transp-buttons-background-color: rgb(31, 199, 212);
// $transp-buttons-color: white;
// // $transp-buttons-shadow: ;
// // $transp-buttons-font: ;
// $transp-buttons-font-size: 16px;
// $transp-buttons-font-weigth: 600;



// // SWITCH-SMALL BUTTONS 
// $transp-buttons-background-color: rgb(31, 199, 212);
// $transp-buttons-color: white;
// // $transp-buttons-shadow: ;
// // $transp-buttons-font: ;
// $transp-buttons-font-size: 16px;
// $transp-buttons-font-weigth: 600;






