

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.linea {
    height: 1px;
    width: 90%;
    background-color: white;
}

.linea-corta{
    height: 1px;
    width: 50%;
    background-color: white;
}
// Causa errori con il resto del sito web
// body {
//     width: 100vw;
//     height: 400vh;
//     display: flex;
//     justify-content: space-evenly;
//     align-items: center;
//     flex-direction: column;
//     background-color:rgb(48, 47, 49);
//     padding:  50px;
// }

button {
    font-size: 16px;
    padding: 0 24px;
    border-radius: 16px;
    height: 1;
    cursor: pointer;

        &:hover {
            opacity: 0.65;
        }

       

}

// -------------STILI DI BOTTONI------------------------------------------------

// dalla HOME.................

/* -------BOTTONE VERDE ACQUA----------- */
.button-aquagreen {
    background-color: rgb(31, 199, 212);
    border: none;
    color: white;
    height: 48px;
    font-size: 16px;
    font-weight: 600;

    &:active {
        transform: translateY(2px);
    }
}




/* ------BOTTONE CON SOLO IN BORDO------- */
.button-onlyborder {
    background-color: transparent;
    border: 2px solid  rgb(31, 199, 212);
    color:  rgb(31, 199, 212);
    height: 48px;
    font-size: 16px;
    font-weight: 600;

        &:active {
            transform: translateY(1px);
        }
}


//dalle pagine TRADE.........................
//Trade → SWAP(Grafico)

/* ---BOTTONE HWMY DEL GRAFICO(Hour,Week,Month,Year)---------- */
.div-hwmy {
    background-color:  rgb(53, 53, 71);
    border:1px solid   rgb(82, 75, 99);
    border-radius: 16px;
    display: flex;
    flex-direction: row;
    width: auto;

        .button-hwmy {
            background-color: transparent;
            border: none;
            color: white;
            border: none;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 32px;
            font-weight: 600;

                &:active {
                    transform: translateY(2px);
                }        
        }

        .button-hwmy:first-child {
            background-color: rgb(31, 199, 212);
        }
}

.button-1W, .button-1M, .button-1Y {
    background-color: transparent;
    color: white;
}


/* ---BOTTONE SEMI TRASPARENTE-------------------- */
.button-semitransparent {
    background-color: rgba(31, 200, 212, 0.65);
    color: white;
    border: none;
    height: 32px;
    font-weight: 600;
    padding: 4px 8px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* --BOTTONE QUADRATO TRASPARENTE (per convertire , ampliare, etc..)--------- */
.button-converter {
    background-color: transparent;
    color:  rgb(31, 199, 212);
    border: none;
    width: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;

        &:active {
            transform: translateY(2px);
        }        

}


/* Bottoni nel div-SWAP(a sinistra)-- */
/* --bottone in alto a sinistra sbarrato----------------- */

.button-won-graph { // *WON = With Or Not (Graphic in the page)
    background-color: transparent;
    color: rgb(184, 173, 210);
    border: none;
    text-decoration: line-through;
    width: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;

        &:hover {
            opacity: 0.65;
        }
        
        &:active {
            transform: translateY(2px);
        }        

}



/* blocco bottoni nel div Swap--------------------------------------------*/

/* "DIV" dei 3 bottoni  in alto a destara[〇〇〇] */
.swap-box-3b {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    background-color: transparent;

        .button-sb1, .button-sb2, .button-sb3 {
            background-color: transparent;
            color: rgb(184, 173, 210);
            border: none;
            border-radius: 50%;
            padding: 0 17px;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 32px;
            height: 32px;
            padding: 0;
        
                &:hover, &:hover, &:hover {
                    opacity: 0.65;
                }

                &:active {
                    transform: translateY(2px);
                }        
        }    
}



/* --Bottoni scelta valute BNB, CAKE, etc------------------------------------------------- */

.currency-btn {
    background-color: transparent;
    font-size: 16px;
    font-weight: 600;
    height: 32px;
    padding: 0 0.5rem;
    border: none;

        &:hover {
            opacity: 0.65;
        }

        &:active {
            transform: translateY(2px);
        }        


        .currency-btn-content-box {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            color: white;
        }
}


/* --Bottone rotondo semi-trasparente per convertire----- */

.button-converter-smt { //*SMT = SemiTransparenT
    background-color: rgb(55, 47, 71);
    box-shadow: rgb(0 0 0 / 10%) 0px -2px 0px inset;
    color:  rgb(31, 199, 212);
    border: none;
    padding: 11px 14px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

        &:hover {
            background-color:rgb(31, 199, 212);
            color: rgb(255, 255, 255);
        }

        &:active {
            transform: translateY(2px);
        }        

        .hover-arrow {
            display: none;
        }
}


/* ---BOTTONI TRADE LIMIT - MARKET......................... */
/* Bottone nel container LIMIT, il terzo, price market */

.btn-limit-market {
    background-color: transparent;
    border: 1px solid rgb(102, 97, 113);
    color:  rgb(102, 97, 113);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    height: 20px;
    cursor: not-allowed;
    font-weight: 600;
    font-size: 12px;

    & > svg {
        margin-right: 0.5rem; 
    }
}




/*Bottone: FAKE SWITCH. -_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-
che si trova sotto al div Limit = V2 e V1(old)
「 presente con un effetto diverso anche nella pagina: Earn → Farms.
(Questo non ha l effetto switch--- */

 .box-button-fake-switch-big {
    background-color: rgb(55, 47, 71);
    border: 1px solid rgb(38, 33, 48);
    border-radius: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    padding: 0.2px;

        .button-fake-switch-big {
            background-color: rgb(184, 173, 210);
            color:  rgb(39, 38, 44);
            border: none;
            padding: 0 16px;
            font-weight: 600;
            height: 32px;

            &:active {
                transform: translateY(2px);
            }
        }
    
        .link-fake-switch-big {
            text-decoration: none;
            color:  rgb(184, 173, 210);
            padding: 0 16px;
            font-size: 16px;
            font-weight: 600;

                &:hover {
                    opacity: 0.65;
                }

                &:active {
                    transform: translateY(2px);
                }
        }
    
}



/* ---Bottoni scelta per visualizzazione a Griglia o a Lista-------------- */

.box-buttons-grid-list {
    display: flex;
    justify-content: center;
    align-items: center;

        .btn-grid-view {
            background-color: transparent;
            fill: rgb(102, 97, 113);
            border: none;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 32px;
            height: 32px;
            padding: 0;

                &:active {
                    transform: translateY(2px);
                }
        }



        .btn-list-view {
            background-color: transparent;
            fill: rgb(31, 199, 212); /*cambiare il colore nell svg nell HTML*/
            border: none;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 32px;
            height: 32px;
            padding: 0;

                &:active {
                    transform: translateY(2px);
                }
        }
}




/* BUTTON SWITCH SMALL  -- Check-Box - Staked Only - (ON/OFF Button) */
.main-box-button-switch-small {
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;

        .box-button-switch-small {
            background-color: rgb(55, 47, 71);
            padding: 2px;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            height: 20px;
            width: 36px;
            border-radius: 24px;
            
                .on-off-dot {
                    position: relative;
                    display: flex;
                    justify-content:center;
                    align-items: center;
                    background-color: rgb(39, 38, 44);;
                    border-radius: 50%;
                    contain: content;
                    height: 100%;
                    width: 50%;
        
                        .on-off-input-check {
                            visibility: hidden;
                            position: absolute; 
                        }
                }
        }
 
        /* ---HOVER----- */
        .box-button-switch-small:hover>.on-off-dot {
            border: 1px solid rgb(172, 34, 172);
            box-shadow:  0px 0px 0px 3px rgba(211, 108, 211, 0.4);    
        }
        /* ---HOVER----- */
        .box-button-switch-small:hover > .on-off-dot {
            border: 1px solid rgb(172, 34, 172);
            box-shadow:  0px 0px 0px 3px rgba(211, 108, 211, 0.4);    
        }
        /* ---HOVER----- */
        .box-button-switch-small:active {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
            background-color: rgb(31, 199, 212);
        }
        /* ---HOVER----- */
        .box-button-switch-small:focus .on-off-dot {
            border: 1px solid rgb(172, 34, 172);
            box-shadow:  0px 0px 0px 3px rgba(211, 108, 211, 0.4);    
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
            background-color: rgb(31, 199, 212);
        }

        .box-button-switch-small-text {
            color: white;  
            margin: 0 0 0 8px;
            font-size: 16px;
            font-weight: 600;
        } 
}



/* -- BOTTONE SWITCH BIG --- con effetto switch originale-- */
//-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_

.box-button-switch-big {
    background-color: rgb(55, 47, 71);
    border: 1px solid rgb(38, 33, 48);
    border-radius: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 600;

        .button-switch-big {
            background-color: rgb(184, 173, 210);
            color:  rgb(39, 38, 44);
            border: none;
            padding: 0 16px;
            height: 32px;

                &:active {
                    transform: translateY(2px);
                }
        }
    
        .link-switch-big {
            text-decoration: none;
            color:  rgb(39, 38, 44);
            padding: 0 12px;
            font-size: 16px;
            font-weight: 600;

                &:hover {
                    opacity: 0.65;
                }

                &:active {
                    transform: translateY(2px);
                }

        }

        //lsb1 {  
        //}
        
        .lsb2 {
            color:  rgb(184, 173, 210);
        }
}


/* BOTTONE SEMI TRASPARENTE-2 --- (HARVEST)
che appare nella sezione che esce dopo che si clicca su una sezione della griglia/lista in Trade → Farm---- */
.button-semi-trasp-dark {
    background-color:  rgb(60, 55, 66);;
    border: 1px solid rgb(60, 55, 66);;
    color:  rgb(102, 97, 113);
    cursor: not-allowed;
    height: 48px;
    font-size: 16px;
    font-weight: 600;

        &:hover {
            opacity: initial;
        }    
}


/* ----Farm → POOLS---- */

/* --Bottone per tornare in alto, all inizio della lista ------------------------- */
.to-top-button {
    background-color: transparent;
    color: rgb(31, 199, 212);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.05rem;
    height: 48px;
    padding: 0 24px;
    border: none;

        &:hover {
            opacity: 0.65;
        }    
}



/*WIN ..............................................*/
/* ----WIN → TRADING COMPETITION---- */

/*--BOTTONI ETICHETTE -------*/
.button-label {
    background-color: rgb(56, 50, 65);
    color: rgb(184, 173, 210);
    border: none;
    border-radius: 16px 16px 0 0;
    padding: 8px;

        .button-label:hover {
            opacity:unset;
        }
}

.initial-btn-lbl{
    background-color: rgb(184, 173, 210);
    color: rgb(39, 38, 44);
}


/*BOTTONE DROPDOWN DETAILS TRASPARENTE*/ 
.button-dropdown-trsp {
    color: rgb(31, 199, 212);
    font-size: 16px;
    font-weight: 600;
    padding: 0 24px;
    height: 48px;
    background-color: transparent;
    border: none;

        &:hover {
            opacity: 0.65;
        }

        &:active {
            transform: translateY(2px);
        }
}

// .bddt1 {

// }

.bddt2 {
    display: none;
}







/* ----WIN → PREDICTION (BETA)---- */
/*ETICHETTE Sovrapposte*/


.box-labels-overlap {
    width: auto;
    height: auto;
    display: flex;
    // justify-content: center;
    align-items: center;
    white-space: nowrap;
    position: relative;
    
        .button-label-overlap {
            background-color: rgb(39, 38, 44);
            display: flex;
            justify-content: flex-start;
            align-items: center;
            border-radius: 24px 24px 0 0 ;
            height: 48px;
            color: white;
            font-size: 16px;
            font-weight: 600;

            &:first-child {
                z-index: 1;
                position: absolute;
            }
         
            &:hover {
                opacity: inherit;                
            }

            .blol-icon {
                margin-right: 10px;
            }
        }
        .blol-1{
            position: absolute;
            z-index: 1;
            left: 0;
        }

        .blol-2{
            position: absolute;
            z-index: 0;
            margin-left: 100px;
            background-color:  rgb(55, 47, 71);
            opacity: 0.65;
        }

}












/* ----WIN → LOTTERY---- */

.ticket-button {
    background: linear-gradient(#7645d9 0%, rgb(69, 42, 122) 100%); 
    border: none;
    color: white;
    letter-spacing: 0.05rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    height: 48px;
    width: 240px;
}






























































