


/* PAGINA TEADE-SWAP */



*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;   
}

.linea {
    height: 1px;
    width: 90%;
    background-color: white;
}

.linea-corta{
    height: 1px;
    width: 50%;
    background-color: white;
}

body {
    width: 100vw;
    height: 600vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    background-color:rgb(48, 47, 49);
    padding:  50px;
}



/* ----BOTTONI-------------------- */
button {
    font-size: 16px;
    padding: 0 24px;
    border-radius: 16px;
    height: 1;
    cursor: pointer;
}

button:hover {
opacity: 0.65;
}

/* BOTTONI NEL GRAFICO */


/* -------BOTTONE HWMY DEL GRAFICO-------------------------- */


.div-hwmy {
    background-color:  rgb(53, 53, 71);
    border:1px solid   rgb(82, 75, 99);
    border-radius: 16px;
    display: flex;
    flex-direction: row;
    width: auto;
}

.button-hwmy {
    background-color: rgb(31, 199, 212);
    border: none;
    color: white;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32px;
    font-weight: 600;
    

}

/* momentaneo in attesa di JS*/
.button-1W, .button-1M, .button-1Y {
 background-color: unset;
 color: white;
}


/* ---BOTTONE SEMI TRASPARENTE---------------------------------------------- */

.button-semitransparent {
    background-color: rgba(31, 200, 212, 0.065);
    /*opacity: 0.65; vedi nel rgba sopra*/
    color:  rgb(31, 199, 212);
    border: none;
    height: 32px;
    font-weight: 600;
    padding: 4px 8px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* --BOTTONE QUADRATO TRASPARENTE PER CONVERTIRE--------------------------------------------- */

.button-converter {
    background-color: transparent;
    color:  rgb(31, 199, 212);
    border: none;
    width: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;


}




/* BOTTONI NEL DIV SWAP------------ */

/* --bottone in alto a sinistra sbarrato---------------------------------------------- */


.button-won-graph {
    background-color: transparent;
    color: rgb(184, 173, 210);
    border: none;
    text-decoration: line-through;
    width: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.button-won-graph:hover {
    opacity: 0.65;
}





/* blocco bottoni nel div --------------------------------------------*/

/* DIV dei bottoni */
.swap-box-3b {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}



.button-sb1, .button-sb2, .button-sb3 {
    background-color: transparent;
    color: rgb(184, 173, 210); /*cambiare il colore nell svg nell HTML*/
    border: none;
    border-radius: 50%;
    padding: 0 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    padding: 0;
}

.button-sb1:hover, .button-sb2:hover, .button-sb3:hover {
    opacity: 0.65;
}

/* --Bottoni scelta valute BNB, CAKE------------------------------------------------- */

.currency-btn {
    background-color: transparent;
    font-size: 16px;
    font-weight: 600;
    height: 32px;
    padding: 0 0.5rem;
    border: none;
}

.currency-btn:hover {
    opacity: 0.65;

}

.currency-btn-content-box{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;

}

/* --Bottone rotondo semi-trasparente per convertire--------------------------------------------- */

.button-converter-smt {
    background-color: rgb(55, 47, 71);
    box-shadow: rgb(0 0 0 / 10%) 0px -2px 0px inset;
    color:  rgb(31, 199, 212);
    border: none;
    border-radius: 50%;
    padding: 0 17px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-converter-smt:hover {
    background-color:rgb(31, 199, 212);
    color: rgb(255, 255, 255);
}

.hover-arrow {
    display: none;
}










/* ---BOTTONI TRADE LIMIT------------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------- */
/* Bottone trade Limit nel container LIMIT, il terzo, price market */

.btn-limit-market {
    background-color: transparent;
    color:  rgb(102, 97, 113);;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    height: 20px;
    
}

.btn-limit-market > svg {
    margin-right: 0.5rem; 
}


 /* Bottone sotto al div Kimit, V2 e V1(old) ---------- */


 .box-button-V2V1 {
    background-color: rgb(55, 47, 71);
    border: 1px solid rgb(38, 33, 48);
    border-radius: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
}

.button-V1 {
    background-color: rgb(184, 173, 210);
    color:  rgb(39, 38, 44);
    border: none;
    padding: 0 16px;
    height: 32px;

}

.link-V2 {
    text-decoration: none;
    color:  rgb(184, 173, 210);
    padding: 0 16px;
}

.link-V2:hover {
   opacity: 0.65;
}


/* ############################################################
############################################################ */




























































































































































































































































































































































































