<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" 
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../../style.css">
    <title>Document</title>
</head>
<body>
    <nav>
        <div class="flex">
            <h2>PancakeSwap</h2>
            <ul class="menu-ul menu-nav">
                <li><a href="swap.html">Trade</a>
                    <ul>
                        <li><a href="swap" >Swap</a></li>
                        <li><a href="limit" >Limit</a></li>
                        <li><a href="liquidity" >Liquidity</a></li>
                        <li><a href="perpetual" >Perpetual</a></li>
                    </ul>
                </li>
                    
                <li><a href="farms.html">Earn</a>
                    <ul>
                        <li><a href="farms.html">Farms</a></li>
                        <li><a href="pool.html">Pool</a></li>
                    </ul>
                </li>
                    
                <li><a href="win">Win</a>
                 <ul>
                    <li><a href="Trading Competition" >Trading Competition</a></li>
                    <li><a href="Prediction">Prediction (Beta)</a></li>
                    <li><a href="Lottery">Lottery</a></li>
                    <li><a href="Pottery">Pottery (Beta)</a></li>
                </ul>
                </li>
               
                <li><a href="nft">NFT</a>
                <ul>
                    <li><a href="">Overview</a></li>
                    <li><a href="">Collection</a></li>
                    <li><a href="">Activity</a></li>
                </ul>
                </li>
                <li><a href="info.html">...</a>
                    <ul>
                        <li><a href="">Info</a></li>
                        <li><a href="">IFO</a></li>
                        <li><a href="">Voting</a></li>
                        <li><a href="">Leaderboard</a></li>
                        <li><a href="">Blog</a></li>
                        <li><a href="">Docs</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <section class="flex">
            <div><p>$4.357</p></div>
            <div><i style="font-size: 1.2rem;" class="fa-regular fa-globe"></i></div>
            <div><i style="font-size: 1.2rem;" class="fa-regular fa-gear"></i></div>
            <div><a href="" class="link-aquagreen">
                <button class="button-aquagreen buttons-home">Connect Wallet</button>
            </a></div>
        </section>
    </nav>
    
</body>
</html>