<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/style.css">
    <title>Document</title>
</head>
<body>
    <nav>
        <ul class="menu-ul menu-nav">
            <li><a href="swap.html"></a>Trade</li>
            <ul>
                <li><a href="swap" >Swap</a></li>
                <li><a href="limit" >Limit</a></li>
                <li><a href="liquidity" >Liquidity</a></li>
                <li><a href="perpetual" >Perpetual</a></li>
            </ul>
            <li><a href="farms.html"></a>Earn</li>
            <ul>
                <li><a href="farms" >Farms</a></li>
                <li><a href="pool.html" >Pool</a></li>
            </ul>
            <li><a href="win"></a>Win</li>
            <li><a href="nft"></a>NFT</li>
            <li><a href="info.html"></a>...</li>

        </ul>
        <section class="flex">
            <div><p>$4.357</p></div>
            <div><img src="/resources/icons/icons8-globe-24.png" alt="icon"></div>
            <div><img src="/resources/icons/icons8-settings-24.png" alt="icon"></div>
    
        </section>
    </nav>
    
</body>
</html>