// Use rules
@use "../../components/buttons/buttons";
@use "sass:map";

// Import rules
@import "../../abstracts/mixins";
@import "../../abstracts/colors";
@import "../../abstracts/variables";


//set dark theme colors
$theme-dark: map.set($theme-dark, "fa-moon", $secondary-dk); 
$theme-dark: map.set($theme-dark, "fa-sun", $footer-background);
// Set colori tema chiaro
$theme-light: map.set($theme-light, "fa-moon", $footer-background);
$theme-light: map.set($theme-light, "fa-sun", #f39c12);

.theme-dark{
    --fa-moon: #{map-get($theme-dark , "fa-moon")};
    --fa-sun: #{map-get($theme-dark , "fa-sun" )};

}
.theme-light{
    --fa-moon: #{map-get($theme-light , "fa-moon")};
    --fa-sun: #{map-get($theme-light , "fa-sun" )};

}

.footer-box{
    width: 1200px;
    //height: auto;
}

i{
    color: $primary-dk
}
.menu-ul {  //no style for list including this class
    list-style: none;
}
.menu-nav{
    text-decoration: none;
}
 .dropdown {
     visibility: hidden;
     position: absolute;
     top: 2rem;
     //left: -1rem;
     background-color: white;
     border-radius: 1%;
     width: 12rem;
     display: flex;
     flex-direction: column;
     opacity: 0;
     transition: opacity 200ms easy-in-out;
 }
.fa-globe:hover{
        color: rgb(154, 106, 255, 30%);
    .dropdown {
        visibility: visible;
    }
}

footer{
    width: 100%;
    height: auto;
    padding: 56px 40px 32px 40px;
    background-color: $footer-background;
  
}

.main-footer{
 @include flex(row, space-between, flex-start);
 margin-bottom: 32px;
    h3{
        color: #fff;
        font-weight: 100;
    }
    h4{
        color: $secondary-dk;
        text-transform: uppercase;
        font-weight: 500;
        margin-bottom: 8px;
    }  
    li {
         //padding: 8px 0 8px 0;
         margin-bottom: 8px;
            a{
            color: white;
            text-decoration: none;
            &:hover{
                text-decoration: underline;
            }
        }
    }
}
.line{
    //color: $primary-color;
    border: 1px solid $primary-color;
}

.flex2{
    @include flex(row, space-between, center);
    
}
#hover:hover{
        width: 54px;
}

.bottom-footer ul{ 
    @include flex(row, flex-start, center);
    padding: 0px 0px 32px 0px;
    } 
    li{
    padding-right: 22px;
    cursor: pointer;
}

.bottom-footer-2{
    padding: 40px 0px 40px 0px;
    div{
        //@include flex(row, space-between, center);
        div, p, svg{
            padding-right: 22px;
        }
        p{
            color: $primary-dk;
            //font-weight: 500;
        }
        .button-aquagreen{
            width: 149px;
            height: 32px;
            margin: 2px 4px 4px 0px;
            padding: 0px 16px;
       }
    }
}

.checkbx3 {
	opacity: 0;
	position: absolute;
}

.label3 {
    background-color: gray;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    position: relative;
    height: 26px;
    width: 50px;
    transform: scale(1); 
    z-index: 1;

}

.label3 .ball3 {
	background-color: #fff;
	border-radius: 50%;
    // -moz-border-radius:50%;
    // -webkit-border-radius:50%;
	position: absolute;
    height: 22px;
    width: 22px;
    top: 2px;
	left: 2px;
	transform: translateX(0px);
	transition: transform 0.2s linear;
}
// .circle-toggle{
//     border: 2px solid white;
//     height: 26px;
//     width: 26px;

//  }

.checkbx3:checked + .label3 .ball3 {
	transform: translateX(24px);
}


.fa-moon {
	color: var(--fa-moon);
    z-index: 2;
}
.fa-sun {
	color: var(--fa-sun);
    z-index: 2;
}




