<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../style.css">
    <title>footer</title>
</head>
<body>
    <footer>
        <section class="main-footer">
            <div>
                <h4>About</h4>
                <ul class="menu-ul ">
                    <li><a href="">Contact</a></li>
                    <li><a href="">Brand</a></li>
                    <li><a href="">Blog</a></li>
                    <li><a href="">Community</a></li>
                    <li><a href="">Litepaper</a></li>
                    <li><a href="">...</a></li>
                    <li><a href="">Online Store</a></li>
                </ul>
            </div>
            <div>
                <h4>Help</h4>
                <ul class="menu-ul">
                    <li><a href="">Customer Support</a></li>
                    <li><a href="">Troubleshooting</a></li>
                    <li><a href="">Guides</a></li>
                </ul>
            </div>
            <div>
                <h4>Developers</h4>
                <ul class="menu-ul">
                    <li><a href="">Github</a></li>
                    <li><a href="">Documentation</a></li>
                    <li><a href="">Bug Bounty</a></li>
                    <li><a href="">Audits</a></li>
                    <li><a href="">Careers</a></li>
                </ul>
            </div>
            <div>
                <h4>PancakeSwap</h4>
            </div>
    
        </section>
        <section class="bottom-footer">
            <ul>
                <li><img src="/resources/icons/icons8-globe-24.png" alt=""></li>
                <li><img src="/resources/icons/icons8-globe-24.png" alt=""></li>
                <li><img src="/resources/icons/icons8-globe-24.png" alt=""></li>
                <li><img src="/resources/icons/icons8-globe-24.png" alt=""></li>
                <li><img src="/resources/icons/icons8-globe-24.png" alt=""></li>
                <li><img src="/resources/icons/icons8-globe-24.png" alt=""></li>
            </ul>
    
        </section>
        <hr class="line"></hr>
        <section class="bottom-footer-2">
            <div>
                <img src="/resources/icons/icons8-globe-24.png" alt=""> 
                <p>EN</p>
            </div>
            <div>
                <p>$4.229</p>
                <button>Buy Cake</button>
            </div>
    
        </section>
    </footer>
    
</body>
</html>