<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" 
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../../style.css">
    <title>footer</title>
</head>
<body>
    <footer>
        <section class="main-footer">
            <div>
                <h4>About</h4>
                <ul class="menu-ul ">
                    <li><a href="">Contact</a></li>
                    <li><a href="">Brand</a></li>
                    <li><a href="">Blog</a></li>
                    <li><a href="">Community</a></li>
                    <li><a href="">Litepaper</a></li>
                    <li><a href="">...</a></li>
                    <li><a href="">Online Store</a></li>
                </ul>
            </div>
            <div>
                <h4>Help</h4>
                <ul class="menu-ul">
                    <li><a href="">Customer Support</a></li>
                    <li><a href="">Troubleshooting</a></li>
                    <li><a href="">Guides</a></li>
                </ul>
            </div>
            <div>
                <h4>Developers</h4>
                <ul class="menu-ul">
                    <li><a href="">Github</a></li>
                    <li><a href="">Documentation</a></li>
                    <li><a href="">Bug Bounty</a></li>
                    <li><a href="">Audits</a></li>
                    <li><a href="">Careers</a></li>
                </ul>
            </div>
            <div>
                <h3>PancakeSwap</h3>
            </div>
    
        </section>
        <section class="bottom-footer">
            <ul class="menu-ul">
                <li><i style="font-size: 1.2rem;" class="fa-brands fa-twitter"></i></li>
                <li><i style="font-size: 1.2rem;" class="fa-solid fa-paper-plane"></i></li>
                <li><i style="font-size: 1.2rem;" class="fa-brands fa-instagram"></i></li>
                <li><i style="font-size: 1.2rem;" class="fa-brands fa-github"></i></li>
                <li><i style="font-size: 1.2rem;" class="fa-brands fa-reddit"></i></li>
                
            </ul>
    
        </section>
        <hr class="line"></hr>
        <section class="bottom-footer-2 flex2">
            <div class="flex2">
               <div>
                <input type="checkbox" class="checkbox" id="chk" />
                <label class="label" for="chk">
                    <i class="fa-regular fa-moon"></i>
                    <i class="fas fa-sun"></i>
                    <!-- <div class="ball"></div> -->
                </label>
               </div>
                <div class="flex2">
                    <i style="font-size: 1.2rem;" class="fa-regular fa-globe"></i>
                    <p>EN</p>
                    <ul class="menu-ul menu-nav dropdown">
                        <li>English</li>
                        <li>Français</li>
                        <li>Filipino</li>
                        <li>English</li>
                        <li>English</li>
                        <li>English</li>
                        <li>English</li>
                        <li>English</li>
                        <li>English</li>
                    </ul>
                    
                </div>
            </div>
            <div class="flex2">
                <p>$4.229</p>
                <a href="" class="link-aquagreen">
                    <button class="button-aquagreen buttons-home">Buy CAKE -></button>
                    
                </a>
            </div>
    
        </section>
    </footer>
    
</body>
</html>