// Animazione fluttuazione bottom-up
@mixin float ($distance, $direction) {
    @if ($direction == "nord" ) {
        @keyframes float-bottom-up {
            0% {
                transform: translateY(0);
            }
            50% {
                transform: translateY($distance);
            }
            100% {
                transform: translateY(0);
            }
        }
    } @else if ($direction == "diagonal-NW") {
        @keyframes float-diagonal-NW {
            0%       { transform: translatex(0px) translatey(0px); }
            50%      { transform: translatex(-$distance) translatey(-$distance); }
            100%     { transform: translatex(0px) translatey(0px); }
        }
    }
}