//colors
$primary-color: rgb(122, 110, 170); // #7A6EAA;
$secondary-color: rgb(118, 69, 217); // #7645D9;
$tertiary-color: rgb(40,13,95); // #280D5F

$footer: rgb(39, 38, 44);

$btn-bg-color: rgb(31,199,212); //#1FC7D4

$border_color: rgb(233, 234, 235);
$input-color: rgb(189, 194, 196);

$gradient-from: rgb(255, 216, 0); // #FFD800;
$gradient-to: rgb(253, 171, 50); // #EB8C00;

$linear-gradient-1: rgb(255,178,55); //Footer Contact text + card bg
$linear-gradient-2: rgb(255,205,81);  //card bg
$linear-gradient-3: rgb(255,231,106); //card bg

$black: rgb(0,0,0);
$white: rgb(255,255,255);
$green: rgb(49, 208, 170);
$light-gray: rgb(238, 238, 238);
$pink: rgb(237, 75, 158); // #ED4B9E;

//dark-mode theme
$primary-dk: rgb(184, 173, 210); //B8ADD2
$secondary-dk: rgb(154, 106, 255); //9A6AFF
$light-gray-dk: rgb(244, 238, 255);

$dark-violet-dk: rgb(40, 13, 95);

$input-color-dk:rgb(55, 47, 71);

$black-dk: rgb(25, 19, 38);


//$primary-color: small text + "need help" + 
