<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="../../style.css">
</head>
<body>
    
    <section class="main-banner-container">
        <div class="main-banner-sub-container">

    <!-- -----BANNER A-------------BANNER A-----------BANNER A-----------BANNER A-------------------- -->
            <div class="main-banner-content-container banner-a">
        <!-- -- -- -- -- -- -- Titles Content-- -- -- -- -- ---- -- -- -- -->
                <h2 class="main-banner-title-a mbt-a1">Perpetual Futures</h2>
                <h2 class="main-banner-title-a mbt-a2">Up to 100x Leverage</h2>
        <!-- -- -- -- -- -- -Buttons- -- -- -- -- -- -- -- -- -- -- -- --  -->
                <a href="#" class="link-aquagreen "> <!-- altro nome classe da dare eventualmente al secondo bottone che appare: main-banner-button-b -->
                    <button class="button-aquagreen buttons-home main-banner-button-a">
                        Trade Now
                        <svg class="mbb-svg-a" viewBox="0 0 24 24" color="invertedContrast" width="20px" xmlns="http://www.w3.org/2000/svg"><path d="M5 13H16.17L11.29 17.88C10.9 18.27 10.9 18.91 11.29 19.3C11.68 19.69 12.31 19.69 12.7 19.3L19.29 12.71C19.68 12.32 19.68 11.69 19.29 11.3L12.71 4.7C12.32 4.31 11.69 4.31 11.3 4.7C10.91 5.09 10.91 5.72 11.3 6.11L16.17 11H5C4.45 11 4 11.45 4 12C4 12.55 4.45 13 5 13Z"></path></svg>
                    </button>
                </a>

            </div>
    <!-- -- SWIPER -- -- -- -- -- --SWIPER -- -- -- -- -- SWIPER -- -- -- -- -- -- -- -- -- -- -- -- -->
            <div class="swiper-slide">
                <div class="swiper swpr-a"></div>
                <div class="swiper swpr-b"></div>
            </div>

    <!-- -- IMAGE Container A-- -- -- -- -- --IMAGE Container A -- -- -- ---- -- --IMAGE Container A -- -- -- -- -- -- -- -- -- -->
            <div class="bunny-container-a">
                <picture>
                    <source media="(min-width: #px)" media="(max-width: 967px)" srcset="https://pancakeswap.finance/_next/image?url=%2F_next%2Fstatic%2Fmedia%2FperpetualMobile.79f3069c.png&w=640&q=75">
                    <source media="(min-width: #px)" media="(max-width: #px)" srcset="#">
                    <source media="(min-width: #px)" media="(max-width: #px)" srcset="#">
                    <img src="https://pancakeswap.finance/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fperpetual.fd0aa080.png&w=828&q=75" alt="Panckake Swap Bunny">
                </picture>

            </div>


    <!-- /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->


    <!-- -----BANNER B-------------BANNER B-----------BANNER B-----------BANNER B-------------------- -->

            <div class="main-banner-content-container  banner-b">

                <h2 class="main-banner-title-b mbt-b1">Win <span>$102.181</span> in Lottery</h2>

                <div class="mb-counter-lottery">
                    <h2 class="mbcl-item mbcli-number">1</h2>
                    <h2 class="mbcl-item mbcli-time">d</h2>
                    <h2 class="mbcl-item mbcli-number">3</h2>
                    <h2 class="mbcl-item mbcli-time">h</h2>
                    <h2 class="mbcl-item mbcli-number">5</h2>
                    <h2 class="mbcl-item mbcli-time">m</h2>
                    <h2 class="mbcl-item mbcli-number">36</h2>
                    <h2 class="mbcl-item mbcli-time">s</h2>
                </div>

                <a href="#" class="link-aquagreen"> <!-- altro nsome classe da dare eventualmente al secondo bottone che appare: main-banner-button-b -->
                    <<button class="button-aquagreen buttons-home main-banner-button-b">
                        Play Now
                        <svg class="mbb-svg-a" viewBox="0 0 24 24" color="invertedContrast" width="20px" xmlns="http://www.w3.org/2000/svg"><path d="M5 13H16.17L11.29 17.88C10.9 18.27 10.9 18.91 11.29 19.3C11.68 19.69 12.31 19.69 12.7 19.3L19.29 12.71C19.68 12.32 19.68 11.69 19.29 11.3L12.71 4.7C12.32 4.31 11.69 4.31 11.3 4.7C10.91 5.09 10.91 5.72 11.3 6.11L16.17 11H5C4.45 11 4 11.45 4 12C4 12.55 4.45 13 5 13Z"></path></svg>
                    </button>
                </a>

            </div> 

    <!-- -- IMAGE Container B-- -- -- -- -- --IMAGE Container B -- -- -- ---- -- --IMAGE Container B -- -- -- -- -- -- -- -- -- -->
            <div class="bunny-container-b">
                <img src="https://pancakeswap.finance/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Flottery.77a09738.png&w=3840&q=75" alt="Panckake Swap Bunny B">
            </div> -->


        </div>
    </section>






<!-- ###################################################################################################### -->
 
    <!-- <section class="main-banner-container">    NON CANCELLARE!
            <div class="main-banner-sub-container">
 ------------------------------------------------------------------------------------  
                <div class="main-banner-content-container  banner-b">

                    <h2 class="main-banner-title mbt-b1">Win <span>$102.181</span> in Lottery</h2>

                    <div class="mb-counter-lottery">
                        <h2 class="mbcl-item mbcli-number">1</h2>
                        <h2 class="mbcl-item mbcli-time">d</h2>
                        <h2 class="mbcl-item mbcli-number">3</h2>
                        <h2 class="mbcl-item mbcli-time">h</h2>
                        <h2 class="mbcl-item mbcli-number">5</h2>
                        <h2 class="mbcl-item mbcli-time">m</h2>
                        <h2 class="mbcl-item mbcli-number">36</h2>
                        <h2 class="mbcl-item mbcli-time">s</h2>
                    </div>

                    <a href="#" class="link-aquagreen"> 
                        COMMENTO: altro nome classe da dare eventualmente al secondo bottone che appare: main-banner-button-b 
                        <button class="button-aquagreen buttons-home main-banner-button-b">
                            Play Now
                            <svg class="mbb-svg-a" viewBox="0 0 24 24" color="invertedContrast" width="20px" xmlns="http://www.w3.org/2000/svg"><path d="M5 13H16.17L11.29 17.88C10.9 18.27 10.9 18.91 11.29 19.3C11.68 19.69 12.31 19.69 12.7 19.3L19.29 12.71C19.68 12.32 19.68 11.69 19.29 11.3L12.71 4.7C12.32 4.31 11.69 4.31 11.3 4.7C10.91 5.09 10.91 5.72 11.3 6.11L16.17 11H5C4.45 11 4 11.45 4 12C4 12.55 4.45 13 5 13Z"></path></svg>
                        </button>
                    </a>

                </div>
 ------------------------------------------------------------------------------------  
                <div class="swiper-slide">
                    <div class="swiper swpr-a"></div>
                    <div class="swiper swpr-b"></div>
                </div>

                <div class="bunny-container-b">
                    <picture>
                        <source media="(min-width: #px)" media="(max-width: #px)" srcset="#">
                        <source media="(min-width: #px)" media="(max-width: #px)" srcset="#">
                        <source media="(min-width: #px)" media="(max-width: #px)" srcset="#">
                        <img src="https://pancakeswap.finance/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Flottery.77a09738.png&w=3840&q=75" alt="Panckake Swap Bunny B">
                    </picture>
                </div>

            </div>
    </section> 
 -->

</body>
</html>